/* common page css */

#nav{
    height: 120px;
    background-image:url("videoblocks-abstract-computer-animated-background-with-small-glowing-particles-of-blue-color-falling-from-above-against-black-background_hbwcdrnlz_thumbnail-1080_01.png");
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif; 
}
    
#nav-mobile {
        margin-top: 50px;
    } 
    
.brand-logo{
    margin-top: 30px;
    margin-left: 25px;
    
}


body{
    background-color: #00004d;
}


/* index page css */

.card-container{
    background-color: #80deea;
}

/* #teal-btn{
    background-color: #80deea;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
    
}

#dropMe{
    background-color: white;
    color:#00004d;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;

} */

#genreBtn{
    background-color:#80deea;
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;

}

#movieSearch{
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
}
 

/* mission page css */

#textArea{
    background-color: #80deea;
    font-family: georgia;
    height: 450px;
    width: 960px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 45px;
    color: #00004d;
    border: dotted;

}

.m2 {
    display: table;
}


   
/* Contact page css         */

.contactContainer{
    background-color:#80deea;
    color: #00004d;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;

}

.center-align{
    color:white;

}

#cBtn{
    background-color: #80deea;
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

/* Drop down lists */
/* .genraCategories{
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  } */

  /* .genraCategories .select{
    width: 120%;
    background:url('arrow.png') no-repeat;
    background-position:80% center;
  }
  
  .genraCategories .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
  } */