/* common page css */

#nav{
    height: 120px;
    background-image:url("videoblocks-abstract-computer-animated-background-with-small-glowing-particles-of-blue-color-falling-from-above-against-black-background_hbwcdrnlz_thumbnail-1080_01.png");
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif; 
}
    
#nav-mobile {
        margin-top: 50px;
    } 
    
.brand-logo{
    margin-top: 30px;
    margin-left: 25px;
    
}


body{
    background-color: #00004d;
}


/* index page css */

.card-container{
    background-color: #80deea;
}

#genreBtn{
    background-color:#80deea;
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;

}

#movieSearch, #tvSearch{
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
}


.collapsible-body{
    background-color: white;
    z-index: 10;
}

/* mission page css */

#textArea{
    background-color: #80deea;
    font-family: georgia;
    height: 450px;
    width: 960px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 45px;
    color: #00004d;
    border: dotted;

}

.collapsible-body{
    background-color: white;
    z-index: 1000;
    position: relative;
}

   
/* Contact page css         */

.contactContainer{
    background-color:#80deea;
    color: #00004d;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;

}

.center-align{
    color:white;

}

#cBtn{
    background-color: #80deea;
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
}


#genraDropDown {
    background-color: #80deea;
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
    
}

.input-field [type=text] {
    color: white;
}

.input-field {
    margin-left: 4%;
    width: 45%;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Orbitron', sans-serif;
    
}


